<div class="courses-toolbar-search">
  <mat-form-field class="courses-toolbar-search-input" appearance="fill">
    <mat-label class="courses-toolbar-search-label">
      <mat-icon aria-hidden="false">search</mat-icon>Type to search
    </mat-label>
    <input matInput [(ngModel)]="searchStr" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSearchClick()">Search</button>
</div>
<div class="courses-toolbar-controls">
  <button mat-raised-button color="primary" (click)="onAddClick()">
    <mat-icon aria-hidden="false" class="courses-toolbar-controls-add-icon">add_circle_outline</mat-icon>Add course
  </button>
</div>
