<ng-template #noDataTemplate>
  <mat-card>
    <mat-card-content align="center" color="primary"> {{ 'COURSE.NODATA' | translate | uppercase }} </mat-card-content>
  </mat-card>
</ng-template>

<ng-container *ngIf="hasCourses; else noDataTemplate">
  <app-course-item
    *ngFor="let course of (courses | async)! | orderBy: 'date':'desc'; trackBy: courseTrackByFn"
    [course]="course"
    [isActionsDisabled]="(isActionsDisabled | async) === false"
    (deleteAction)="onDeleteAction(course)"
    (editAction)="onEditAction(course)"
  ></app-course-item>
</ng-container>

<mat-card>
  <mat-card-content align="center">
    <button
      mat-button
      automation-id="courses-list-load-button"
      color="primary"
      (click)="onLoadMoreClick()"
      [disabled]="isLoadMoreDisabled | async"
    >
      {{ ((isLoadMoreDisabled | async) ? 'COURSE.NO_MORE' : 'COURSE.LOAD_MORE') | translate }}
    </button>
  </mat-card-content>
</mat-card>
