:host {
  display: block;
  height: 100%;
  overflow-y: auto;
  background-color: #f5f6fa;

  ::ng-deep .mat-form-field {
    width: 100%;
  }
}

.course-item-form-viewer-container {
  margin: 2vw auto;
  width: 50vw;
  padding: 1.5rem;

  .course-item-form-viewer-actions {
    margin: 0;
  }
}
