<mat-card class="course-item-form-viewer-container">
  <mat-card-title>{{ 'COURSE_FORM.TITLE' | translate }}</mat-card-title>
  <app-course-item-form-title [control]="form | extractFormControl: 'name'"></app-course-item-form-title>
  <app-course-item-form-description [control]="form | extractFormControl: 'description'">
  </app-course-item-form-description>
  <app-course-item-form-duration [control]="form | extractFormControl: 'length'"></app-course-item-form-duration>
  <app-course-item-form-date [control]="form | extractFormControl: 'date'"></app-course-item-form-date>
  <app-course-item-form-author [control]="form | extractFormControl: 'authors'"></app-course-item-form-author>
  <mat-card-actions align="end" class="course-item-form-viewer-actions">
    <button mat-raised-button automation-id="course-item-cancel-button" color="secondary" (click)="onCancelClick()">
      <mat-icon class="course-item-icon">cancel</mat-icon>{{ 'COURSE_FORM.CANCEL' | translate }}
    </button>
    <button
      mat-raised-button
      automation-id="course-item-save-button"
      [disabled]="!form.valid"
      color="primary"
      (click)="onSaveClick()"
    >
      <mat-icon class="course-item-icon">save</mat-icon>{{ 'COURSE_FORM.SAVE' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
