:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.course-item-form-duration-input {
  width: 40%;
  margin-right: 1rem;
}

.course-item-form-duration-converted {
  flex-grow: 1;
}
