.course-item-subtitle {
  display: flex;
  justify-content: end;
  align-items: center;
  .course-item-subtitle-spacer {
    width: 1rem;
  }
}

.course-item-icon {
  font-size: 20px;
  margin-right: 0.2rem;
}
