<mat-card appHighlightCourse [course]="course" [ngClass]="{ 'course-item-top-course': course.topRated }">
  <mat-card-title
    >{{ course.title | uppercase }}<mat-icon *ngIf="course.topRated" class="course-item-top-course-icon">star</mat-icon>
  </mat-card-title>
  <mat-card-subtitle class="course-item-subtitle">
    <mat-icon aria-hidden="false" class="course-item-icon">watch_later</mat-icon>{{ course.duration | duration }}
    <span class="course-item-subtitle-spacer"></span>
    <mat-icon aria-hidden="false" class="course-item-icon">calendar_today </mat-icon>
    {{ course.creationDate | date: 'mediumDate' }}
  </mat-card-subtitle>
  <mat-card-content>
    <p>{{ course.description }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button automation-id="course-item-edit-button" color="primary" (click)="onEditClick()">
      <mat-icon class="course-item-icon">edit</mat-icon>Edit
    </button>
    <button mat-raised-button automation-id="course-item-delete-button" color="primary" (click)="onDeleteClick()">
      <mat-icon class="course-item-icon">delete</mat-icon>Delete
    </button>
  </mat-card-actions>
</mat-card>
