<form (ngSubmit)="onLoginClick()" #loginForm="ngForm">
  <mat-card class="login-form-container">
    <mat-card-title translate>LOGIN.TITLE</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label translate>LOGIN.USERNAME</mat-label>
      <input
        matInput
        required
        name="username"
        placeholder="{{ 'LOGIN.USERNAME_PLACEHOLDER' | translate }}"
        [(ngModel)]="userCredentials.username"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label translate>LOGIN.PASSWORD</mat-label>
      <input
        matInput
        required
        name="password"
        placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
        [(ngModel)]="userCredentials.password"
      />
    </mat-form-field>
    <mat-card-actions class="login-form-actions-container">
      <a mat-button class="login-form-reset-lint" href="https://www.google.com/" target="_blank">{{
        'LOGIN.RESTORE' | translate
      }}</a>
      <button
        mat-raised-button
        automation-id="login-form-login-button"
        color="primary"
        type="submit"
        [disabled]="!loginForm.form.valid"
      >
        <mat-icon class="login-form-button-icon">login</mat-icon>{{ 'LOGIN.TITLE' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
