<mat-form-field appearance="fill" *ngIf="control">
  <mat-label>Authors</mat-label>
  <mat-chip-list #chipList aria-label="Authors selection" [formControl]="control">
    <mat-chip *ngFor="let author of selectedAuthors" (removed)="remove(author)">
      {{ author.name }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Add author..."
      #authorsInput
      matInput
      aria-label="Authors"
      [formControl]="authorsControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
      {{ author.name }} {{ author.lastName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
